
.w3-sidebar {
	width: 6.15vw;
	max-width: 6.15vw;
	min-width: 6.15vw;
	height:110vh;
	max-height:110vh;
	min-height:110vh;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

/* Remove margins from "page content" on small screens */
.profile_pic {
    border-radius:50%;
    width:20vw;
    margin-left:70vw;
    margin-top:7vh;
    margin-bottom: 30vh;
}

.profile_pic1 {
   border-radius:50%;
   width:20vw;
   position:absolute;
   margin-top:-95vh;
   margin-left:70vw;
}

.div1{
	background-image: url("images/abc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:-2vh;
	margin-left: 4.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:101vh;
	min-height:101vh;
	width:93.75vw;
	height:101vh;
	overflow: hidden
}

.icons{
	color:white;
	font-size: 1.5vw;
	padding-right: -2vw;
	padding-left:-2vw;
}

.navname{
	padding-right: -2vw;
	padding-left:-2vw;
	font-size:1vw;
}

#name{
	color: white;
	margin-top: -19vh;
	margin-left: 11vw;
	font-family:'Allura';
	position:absolute;
	font-size: 7.5vw;
	opacity:1;
	font-style: bold;
}

#downarrow{
	position:absolute;
	margin-top: -15vh;
	margin-left:23.5vw;
	height:7.5vh;
	width:4vw;
	color:white;
}

#snow1{
	opacity:0.3;
	position:absolute;
	width: 65vw;
	max-width: 65vw;
	min-width: 65vw;
	height:98vh;
	max-height:98vh;
	min-height:98vh;
	margin-left:4.5vw;
}

#snow2{
	opacity:0.3;
	position:absolute;
	width: 65vw;
	max-width: 65vw;
	min-width: 65vw;
	height:98vh;
	max-height:98vh;
	min-height:98vh;
	margin-left:33vw;
}

#quote1a{
	margin-top: -52.5vh;
	font-size: 3.2vw;
	position:absolute;
	font-family: 'Allura';
	margin-left: 7vw;
	animation-iteration-count: infinite;
}


#strip{
	opacity:0.4;
	background: black;
	position: absolute;
	height: 102.5vh;
	max-height: 102.5vh;
	min-height: 102.5vh;
	margin-top: -102.25vh;
	margin-left:4.5vw;
	width:93.75vw;
	max-width:93.75vw;
	min-width:93.75vw;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur121.cur),auto;
}

#strip2{
	opacity:0.6;
	background: black;
	position: absolute;
	height:18vh;
	margin-top: -18vh;
	margin-left:4.5vw;
	width:93.5vw;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur121.cur),auto;
}

.quote {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(60, end),
    blink-caret .75s step-end infinite;
}

.social_icons{
	color:white;
}
#linkedin {
	color:white;
	font-size: 2vw;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-top:22vh;
	margin-left:-0.5vw;
}

#fb {
	color:white;
	margin-top: 3vh;
	font-size: 2vw;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-left:-0.5vw;
}

#insta {
	color:white;
	font-size: 2vw;
	margin-top: 3vh;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-left:-0.5vw;
}

#twitter {
	color:white;
	font-size: 2vw;
	margin-top: 3vh;
	padding-right: -2vw;
	padding-left:-2vw;
	margin-left:-0.5vw;
}

.booksection {
	background: white;
	margin-left: 4.5vw;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	position:absolute;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur220.cur),auto;
}

#bookpic{
	margin-top:10%;
	margin-bottom:2%;
	margin-left:10%;
	width:25%;
	position:absolute;
}

#book_description {
	color: #4d4d4d;
	margin-left:37.5vw;
	margin-top:5vh;
	position: absolute;
	font-family:'Raleway';
	font-size: 3vw;
}

#horline{
	position: absolute;
	border-bottom: 4px solid orange;
	width:10vw;
	height:22vh;
	margin-left: 46.5vw;
	margin-top: -7vh;
}

#about_book{
	color: #4d4d4d;
	margin-left:48.7vw;
	margin-top:20vh;
	margin-right: 9vw;
	position: absolute;
	font-family:'Raleway';
	font-size: 1.4vw;
}

#about_book_2{
	color: #4d4d4d;
	margin-left:48.7vw;
	margin-top:35vh;
	margin-right: 9vw;
	position: absolute;
	font-family:'Raleway';
	font-size: 1.4vw;
}

#order-now{
	color: #4d4d4d;
	margin-left:48.7vw;
	margin-top:55vh;
	position: absolute;
	font-family:'Raleway';
	font-size: 1.5vw;
}

.animationsection {
	background: #bbb;
	margin-left: 4.5vw;
	margin-top: 82vh;
	max-width:93.75vw;
	min-width:93.75vw;
	max-height:82vh;
	min-height:82vh;
	width:93.75vw;
	height:82vh;
	position:absolute;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur220.cur),auto;
}


#iitghy{
	margin-left:30%;
}

#iimC{
	margin-left:30%;
}

#flipkart{
	margin-left:30%;
}

#cfa2{
	margin-left:30%;
}

.education{
	color: #4d4d4d;
	font-family:'Raleway';
	font-size: 20px;
}

#career {
	color: #4d4d4d;
	margin-left:40%;
	margin-top:3%;
	position: absolute;
	font-family:'Raleway';
	font-size: 40px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}